@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 217px;
  padding-bottom: 493px;
  background: no-repeat center url(../img/bg-head.jpg);
  background-size: cover;
}

.header__title {
  max-width: 700px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
}

.header__subtitle, .header__span {
  margin-bottom: 44px;
  max-width: 500px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.header__span {
  font-weight: 700;
}

.header__button {
  width: 234px;
  height: 50px;
  background: #9c0332;
  border-radius: 30px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.header__button:hover {
  background: #EB443F;
  cursor: pointer;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.games {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #000915;
}

.games__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 32px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.games__item {
  max-width: 379px;
  min-width: 288px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  background: no-repeat center -webkit-gradient(linear, left top, left bottom, from(rgba(39, 1, 15, 0)), to(#001944)), no-repeat center url(../img/bg-game-1.jpg);
  background: no-repeat center linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), no-repeat center url(../img/bg-game-1.jpg);
  border-radius: 16px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.games__item:nth-of-type(2) {
  background: no-repeat center -webkit-gradient(linear, left top, left bottom, from(rgba(39, 1, 15, 0)), to(#001944)), no-repeat center url(../img/bg-game-2.jpg);
  background: no-repeat center linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), no-repeat center url(../img/bg-game-2.jpg);
}

.games__item:nth-of-type(3) {
  background: no-repeat center url(../img/bg-game-3.jpg);
}

.games__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 32px;
  padding-left: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration: none;
}

.games__link:hover {
  border: 3px solid #44d2ff;
  padding-left: 29px;
  padding-bottom: 29px;
  border-radius: 16px;
}

@media (max-width: 768px) and (min-width: 320px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 180px;
    padding-bottom: 185px;
  }
  .header__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .header__subtitle, .header__span {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .games {
    padding-top: 0;
    padding-bottom: 128px;
  }
}

@media (max-width: 1024px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .games__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 375px) and (min-width: 320px) {
  .header {
    background: no-repeat center url(../img/bg-head-mobile.jpg);
  }
}
/*# sourceMappingURL=style.css.map */